.app {
  text-align: center;
  padding: 2rem;
  font-family: 'Poppins', sans-serif;
  background: #f5f5f5;
  min-height: 100vh;
}

button {
  background: #007bff;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #bb61b0;
}
